<!doctype html>
<title><%- opts.title || themeopts.title %></title>
<meta charset="utf-8">
<link href="style.css" rel="stylesheet">
<script src="prism.js"></script>
<script src="script.js"></script>
<header>
	<nav>
		<img src="<%- opts.logo || themeopts.logo %>" alt="Style Guide">
		<%

		function renderNavigation(children, depth) { %>
			<ul><%

				if (depth < 3) children.forEach(function (child) {
					if (child.name) {

						%>
						<li>
							<a href="#<%- child.name %>"><span><%- child.title %></span></a>
							<%

							if (child.children) renderNavigation(child.children, depth + 1);

							%>
						</li>
						<%

					}
				});

			%></ul>
		<% }

		renderNavigation(list, 1);
		%>
	</nav>
</header>
<main><%

function renderSections(children, depth) {
	children.forEach(function (child) {
		if (child.name) { %>
			<section id="<%= child.name %>">
				<h<%= depth %> class="doc-section-heading"><%= child.title %></h<%= depth %>>

				<div>
					<%- child.content %>
					<%

					if (child.children) {
						renderSections(child.children, depth + 1);
					}

					%>
				</div>
			</section>
		<% } else { %>
			<section>
				<div>
					<%- child.content %>
					<%

					if (child.children) {
						renderSections(child.children, depth + 1);
					}

					%>
				</div>
			</section>
		<% }
	});
}

renderSections(list, 2);

%></main>
